@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  #root {
    @apply bg-primary 
  }
}

@layer components {
  .tab_active{
    border-bottom:2px solid black ;
  }
  .complete_todo {
    @apply text-[#9F9A91] line-through
  }
}

@layer utilities{
  .linear-g {
    background: linear-gradient(172.7deg, #FFD370 5.12%, #FFD370 53.33%, #FFD370 53.44%, #FFFFFF 53.45%, #FFFFFF 94.32%)
  }
  .diy-shadow {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  }
}